.carousel {
  margin-bottom: 1.5rem;

  .direction {
    z-index: auto;
  }

  .carousel-inner {
    // height: auto;
    height: 100vh;
    width: auto;
  }

  .carousel-item {
    height: 100%;

    img {
      width: 100%;
      max-width: 100%;
      height: auto;
    }

    .caption {
      // position: relative;
      position: absolute;
      // text-align: center;
      bottom: 31%;
      right: 20%;
      // max-width: 660px;
      color: $white;
      text-align: -webkit-center;

      .caption-description {
        p {
          font-size: 1rem;
          color: $white;
        }

        h2 {
          font-size: 1.25rem;
          font-weight: 700;
          line-height: 1.44444rem;
          letter-spacing: 0.36em;
          color: #fff;
          text-transform: uppercase;
          // text-shadow: 0px 0.1875rem 1.8125rem gray;
          
        }

        h3 {
          width: 140px;
          font-size: 1.0rem;
          font-weight: 600;
          text-align: center;
          color: #00A0E2;
          background-color: #fff;
          border-radius: 2.5rem;
          line-height: 2.2rem;
          padding: 0.5rem;
        }
      }

      .display-1 {
        font-size: 3rem;
        font-weight: 700;
        margin-bottom: 4rem;
        line-height: 1.44444rem;
        letter-spacing: 0.36em;
        color: #fff;
        text-transform: uppercase;
        text-shadow: 0px 0.1875rem 1.8125rem rgba(124, 124, 124, 0.33);
      }
    }

    figure {
      display: inline-block;
      margin: 0;
    }
  }

  .carousel-control {
    opacity: 1;

    .icon-next,
    .icon-prev {
      &::before {
        content: "";
      }

      i {
        font-size: 3.125rem;
        color: $white;
      }

      &:hover {
        i {
          color: $brand-primary;
        }
      }
    }

    .icon-prev {
      left: 1rem;
    }

    .icon-next {
      right: 2rem;
    }

    &.left,
    &.right {
      background: none;
    }
  }
}

.carousel-indicators {
  li {
    border-color: $gray;
  }

  .active {
    background-color: $gray;
  }
}

@include media-breakpoint-up(lg) {
  .carousel {
    .carousel-indicators {
      display: none;
    }
  }
}

@include media-breakpoint-down(lg) {
  .carousel {
    .carousel-inner {
      height: auto;
    }
  }
}

@include media-breakpoint-down(md) {
  .carousel {
    left: 50%;
    width: 100vw;
    padding-bottom: 0.5rem;
    margin-left: -50vw;
    background-color: $gray-light;
    box-shadow: none;

    .carousel-item {
      .caption {
        position: static;
        margin: 1.275rem auto 2.5rem;
        text-align: center;

        .display-1 {
          font-size: 2rem;
          font-weight: 500;
          color: $gray-darker;
        }

        .caption-description {
          h3,
          p {
            color: $gray;
          }

          h3 {
            font-size: 1rem;
          }
        }
      }
    }

    .direction {
      position: absolute;
      top: calc(50%);
      width: 100%;

      .carousel-control {
        .icon-prev {
          left: 0;
          margin-left: 0;
        }

        .icon-next {
          right: 0;
          margin-right: 0.78rem;
        }

        i {
          background: rgba(122, 122, 122, 0.5);
        }
      }
    }
  }

  .carousel-indicators {
    li {
      width: 8px;
      height: 8px;
    }

    .active {
      width: 8px;
      height: 8px;
      margin: 1px;
    }
  }
}

@include media-breakpoint-down(sm) {
  .carousel {
    .carousel-item {
      .caption {
        .display-1 {
          font-size: 1.3rem;
        }
      }
    }

    .carousel-control {
      .icon-prev,
      .icon-next {
        i {
          font-size: 2rem;
        }
      }
    }
  }
}
